* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alatsi", sans-serif;
  /* font-family: 'Bebas Neue', sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}

body {
  margin: 0px;
}

/* Navigation starts here */

.navigation {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background-image: linear-gradient(to top, #63ff86, #03da3f);
  align-items: center;
  min-height: 8vh;
  width: 100%;
  z-index: 999;
}

.logo h1 {
  font-size: 30px;
  color: rgba(0, 0, 0, 0.644);;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: pointer;
}

.fa-pagelines {
  margin-right: 0.5rem;
}

.r-nav {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.r-nav li {
  list-style: none;
}

.r-nav li a {
  color: rgb(43, 42, 42);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
}

.r-nav li a:hover {
  background-image: linear-gradient(to top, #350de7, #21eef5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px 0px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(221, 221, 221);
  margin: 5px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1024px) {
  ul.r-nav {
    width: 40%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .r-nav {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-image: linear-gradient(to top, #63ff86, #03da3f);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .burger {
    display: block;
    cursor: pointer;
  }
}

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Navigation Ends Here */

/* Home page styling */

.home {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lefthome {
  margin-left: 10vw;
}

.lefthome h1 {
  font-size: 4rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    rgb(20, 114, 238),
    rgb(3, 158, 106)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lefthome h2 {
  font-size: 3rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top,
    rgb(205, 238, 20),
    rgb(35, 180, 15)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lefthome button {
  padding: 10px 20px;
  background: transparent;
  border: 1px solid black;
  font-size: 1.5rem;
  background-image: linear-gradient(to top, rgb(238, 125, 20), rgb(158, 47, 3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5vh;
  outline: none;
  transition: transform 0.8s ease-in-out;
}

.lefthome button:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.righthome img {
  width: 70%;
  transition: all 0.3s ease-in-out;
}

.righthome img:hover {
  /* padding: 20px; */
  margin-bottom: 30px;
}

@media screen and (max-width: 700px) {
  .lefthome h1 {
    font-size: 2.5rem;
  }

  .lefthome h2 {
    font-size: 2rem;
  }

  .lefthome button {
    font-size: 1rem;
  }
}

@media screen and (max-width: 498px) {
  .lefthome h1 {
    font-size: 2rem;
  }

  .lefthome h2 {
    font-size: 1.5rem;
  }
}

/* Home page styling end  */

/* Slider styling */

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.slider h1 {
  margin-top: 14vh;
  text-transform: uppercase;
  text-decoration: underline;
}

.carousel__container {
  width: 45%;
  margin: auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(99,99,99,1);
-moz-box-shadow: 6px 6px 5px 0px rgba(99,99,99,1);
box-shadow: 6px 6px 5px 0px rgba(99,99,99,1);
}

.carousel__slide {
  width: 100%;
  display: flex;
  height: 400px;  
}

.carousel__slide img {
  width: 100%;
  height: 400px;
}

#prevBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 5%;
  font-size: 30px;
  color: rgb(168, 66, 6);
  cursor: pointer;
}

#nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 30px;
  color: rgb(168, 66, 6);
  cursor: pointer;
}

/* Slider styling ends here */

/* Gallery styling */

.gallery {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(0, 255, 85); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.gallery h1 {
  text-align: center;
  margin-top: 12vh;
  text-transform: uppercase;
  text-decoration: underline;
}

.gallery__container {
  /* border: 1px solid black; */
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.gallery__list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4vh;
  column-gap: 2vw;
}

.gallery__box {
  width: 400px;
  height: 400px;
  /* background-color: lavender; */
  outline: none;
  border: none;
  margin-top: 8vh;
  margin-right: 5vw;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
}

.gallery__list img {
  width: 150px;
  height: 100%;
  transition: transform 0.4s ease-in-out;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
}

.gallery__list img:hover {
  transform: scale(1.15);
  cursor: pointer;
}

/* Gallery stylling ends here */

/* About us styling */

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.about h1 {
  margin-bottom: 15vh;
  text-decoration: underline;
  text-transform: uppercase;
  margin-top: 10vh;
}

.public__portfolio {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: -20vh;
}

.public img {
  width: 250px;
  -webkit-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  -moz-box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  box-shadow: 6px 6px 5px 0px rgba(176, 176, 176, 1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.public img:hover {
  transform: scale(1.05);
}

.public h2 {
  text-align: center;
}

.rights {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 20vh;
}

.rights hr {
  width: 300%;
  background-color: black;
}

.social__media a {
  font-size: 2rem;
  padding: 0px 5px;
  background-image: linear-gradient(to top, #03da3f 30%, #63ff86 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: none;
  text-decoration: none;
}
